In [29]:
import pandas as pd                 # Data Processing
import numpy as np                  # Mathematics
import matplotlib.pyplot as plt     # Visualization

In [30]:
# Read the files of both test and train data
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

In [31]:
# Find general information regarding test data
test_data
print(test_data.shape)
print(test_data.columns)

(367, 12)
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [32]:
# Determine null values within data set
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [33]:
# Delete rows with null values within data set
test_data = test_data.dropna()
#print(test_data.shape)

In [34]:
# Ensure that all rows with null values have been deleted
print(test_data.shape)
test_data.isnull().sum()

(289, 12)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64